

footer{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
    width: 100%;
    background: #1D1D1D;
    .footerContainer{
         .topMargin{padding-top: 60px;}
     
    padding: 0px;
    margin-top: 15px;
    .box{
      
        border-top: 2px solid white;
      
        .title{
            position: relative;
            padding: 12px 24px 13px 0;
                .h4{
                    position: relative;
                    margin: 0;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 600;
                    color: white;
                }
                .icon{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -13px;
                    color: #999;
                    font-size: 16px;
                    line-height: 26px;
                }
                
           
        }
        .about{
            .content{
                color: #777;
                font-size: 13px;
                line-height: 26px;
            }
            .action{
                border-bottom: 1px solid #333333;
                margin-top: 16px;
                padding-bottom: 11px;
                a{
                    color: #777;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
            .sosialBox{
                margin-top: 8px;
                padding-top: 11px;
                li{
                    margin-top: 10px;
                   width: 100%;
                }
                    .sosial{
                        color: white;
                        margin-right: 8px;
                     
                    }
                    span{
                        color: #777;
                        font-size: 13px;
                    }
                    a{
                        color: #777;
                        font-size: 14px;
                        text-decoration: none;
                    }
                   
            }
          }
       
      
    }
    .box2{
        ul{
            padding: 0px;
                li{
                    color: #777;
                    width: 100%;
                    margin-top: 14px;
                    border-bottom: 1px solid #333333;
                    padding-bottom: 5px;
                    font-size: 14px;
                    cursor: pointer;
                    span{
                        margin-left: 5px;
                        font-size: 14px;
                    }
                }
        }
    }
}


}
.usNewsPowered{
    padding: 0 5px;
    width: 100%;
    min-height: 80px;
    background: black;
    .contMax{ position: relative; }
    .leftSide{
       padding: 40px 0;
       margin:0px;
       font-size: 16px;
        span{
            color:#777777;
           a{
               font-size: 14px;
               text-decoration: none;

           }
        }
    }
    .rightSide{
         display: flex;
        position: absolute;
        right: 0;
        padding: 40px 0;
        font-size: 16px;
        ul{
          margin-left: 20px;
            li{
                margin: 0 8px;
                a{
                    color:#777777;
                    text-decoration: none;
                }
                .footerSosial{
                    color: white;
                    transition-duration: 0.3s;
                        &:hover{
                            color: #777777;
                        }
                }
            }
        }
      
    }
   
    
}


@media  screen and (max-width: 768px) {
    .usNewsPowered{
       .contMax{
           margin: 0px;
           max-width: 100%;
       }
}  
}

@media  screen and (max-width: 633px) {
    .usNewsPowered{
     text-align: center;
      padding-top: 5px;
       .leftSide,
       .rightSide{
           margin: 0 auto;
           position: static;
           padding: 3px 0;
          display: inline-block;
       }
}  
}


@media  screen and (max-width: 768px) {
    .footerContainer{
        margin: 0px!important;
        max-width: 100%;
    }

}