
html,
body{
    margin:0px;
    overflow-x: hidden;
}
#main{
    width: 100%;
    min-height: 400px;
    // border: 1px solid red;


.headerSosial{
    width: 100%;
    min-height: 50px;
    border: 1px solid;
    background: #1D1D1D;
    
.content{
    width: 100%;
    min-height: 50px;
    border: 1px solid;
    font-size: 14px;
   
  
    .leftSide{
      
        float: left;
        max-width: 400px;
        padding-top: 11px;
        color:#999999;
       
        .newyork{
            margin-right: 10px;
        }
        .celcius{
           margin-right: 11px;
        }
        
    }
    .rightSide{
        padding-top: 11px;
        min-height: 50px;
        border: 1px solid;
        float: right;
        max-width: 450px;
            .login{
                margin-right: 27px;
                font-size: 14px;
                display: inline-block;
            a{
                color: white;
                -webkit-transition:color .2s ease-in;
                text-decoration-line: none;
                    &:hover{
                        color:#999999;
                            
                    }
            }
            }
.lang{
    margin-right: 27px;
    display: inline-block;
    a{
        color:#999999;
        text-decoration-line: none;
        -webkit-transition:color .2s ease-in;
        &:hover{
            color: #5C5C5C;
        }
    }
    .drop{
        display: none;
        position: absolute;
        width: 99px!important;
        padding-left: 0px;
        top: 40px;
        right: -13px;
        box-shadow: 0 1px 15px rgba(0,0,0,.2);
            
    a{
        padding-left: 11px;
            
        }
    li{
        padding-top: 8px;
        list-style: none;
        padding-bottom: 5px;
        

    }
    .bord{
        
        width: 100%;
        border-bottom: 1px solid #EEEEEE;
    }
    .border-style{
        border-bottom: 2px solid;
    }
        }
}            

.sosials{
    display: inline-flex;
        a{
            margin-right: 20px;
            color:#999999;
            -webkit-transition:color .2s ease-in;
            &:hover{
                color: #5C5C5C;
            }
        }
}
          
    }
}

}


//................. media screen

@media only screen and (max-width: 991px) {
        .sosials{
            display: none!important;
        }
}



@media only screen and (max-width: 768px) {
    .sosials{
        display: inline-flex!important;
    }
    
    .leftSide,
    .rightSide{
        float: none!important;
        clear: both;
        margin: 0 auto;
     
      
    }
}

@media  screen and (max-width: 480px) {
            .sosials{
                display: none!important;
            }
            .content{
                text-align: center!important;
             
            }
            .leftSide{
              
            .leftul{
              width: 210px;
              display: inline-flex;
            
            }
        }
}

///>>>>>>>>>>>>>>>>>> logo section 


.logoSection{
    width: 100%;
    height: 152px;
    padding-top: 38px;
}

@media  screen and (max-width: 991px) {
        .logoImg{
            margin: 0 auto;
}
    .mobileButton{
        display: block!important;
        position: relative;
        top: -13px;
        outline: none!important;
        .mBtn{
            outline: none;
            border-color: white;
            border-radius: 0px;
        }
    }
    
}

///>>>>>>>>>>>>>>>>>>>>>> header 

.mobileButton{
    display: none;
}


.header{
    width: 100%;
    height:64px;
    padding-top: 18px;
    background: #DA0000;
    box-shadow: 0 3px 7px rgba(0,0,0,.2);
    z-index: 999;
    .maxHeight{
        height: 100%;
    }
    li{
    list-style: none;
      margin: 0 auto;
    }
    .formBox{
    position: relative;
      width: 85px;
    .iinput{
        opacity: 0;
         top: -3px;
        width: 0px;
        height: 38px;
        right: 8%;
        position: absolute;
        border-radius: 26px;
         border: none;
         outline: none;
         padding-left: 15px!important;
         background: #F0F0F0;
        transition-duration: 0.8s;
       
    }
    .search{
        position: absolute;
        z-index: 100;
         top: 6px;
        right: 12%;
        cursor: pointer;
        color: white;

    }
}
    .links{
        height: 100%;
        &:hover{
            border-bottom: 2px solid white;
        }
        a{
            color: white;
            text-decoration-line: none;
        }
       
    }
    .hideContent{
        display: none;
    }
}



//>>>>>>>>>>>>>>>>>>>>>> media)

@media  screen and (max-width: 991px) {
.header{
    li{
        display: none;
    }
    .hideContent{
        display: block;
    }

}
}


//.>>>>>>>>>>>>>>>>>> mobile content)



.mobileContent{
    width: 256px;
    height: 100%!important;
    position: fixed;
     background: white;
    top: 0px;
    left:-300px;
    transition-duration: 0.6s;
    transition-delay: 0.3s;
   
    .closee{
        background: red;
        color: white;
        position: relative;
        left: 256px;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        font-weight: 800;
        font-size: 20px;
    }

    .mlinks{
        padding-left: 10px;
        top: -25px;
        position: relative;
        display: block;
        margin-bottom: 14px;
        width: 100%;
        padding-bottom: 6px;
        border-bottom: 2px solid transparent;
        transition-duration: 0.2s;
            &:hover{
                border-bottom: 2px solid #777777;
            }
            a{
             
               color:#999999;
               text-decoration-line: none;
              
             
            }
    }

}

.centerStyle{
    display: flex;
   justify-content: center;
    li{
        display: inline-block;
        text-align: center;
        border-bottom: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
            .blockk{
                padding: 0 20px 7px;
                width: 100%;
                font-size: 17px;
                line-height: 28px;
                font-weight: 600;
                z-index: 0;
                text-decoration-line: none;
                color:#222222;
                    .icons{
                        display: block;
                        margin-bottom: 4px;
                        text-rendering: auto;
                       
                       
                    }
            }
           
    }
    .bordNone{
        border-right: none!important;
     }
}

@media only screen and (max-width: 767px) {
    .centerStyle{
       display: none;
    }
}


}