
#main{
   
    @media screen and (max-width: 1199px) {
        .responMaxWidth{
           max-width: 97%!important;
           
        }
      
    }

  
    @media only screen and (max-width: 767px) {
        #wrapper{
            padding: 0 5px;
        }
      
    }
    #wrapper{
    @-webkit-keyframes marqueeAnimation-54766530  { 100%  {margin-left:-1704.34px}}


    .news-animate{
    margin-top: 30px;
    color: #777;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 10px;
        .title{
            float: left;
            padding: 11px 30px 13px;
            color: #fff;
            background-color: #1d1d1d;
            display: inline;
                h2{
                    display: inline-block;
                    margin: 0 10px 0 0;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 600;
                }
        }
        .updatesList{
            direction: ltr;
            position: relative;
            max-height: 50px;
            padding: 0 12px;
            color: #999;
            background-color: #FAFAFA;
            overflow: hidden;
            z-index: 0;
            height: 50px;
                .animateWrapper{
                    width: 100000px; 
                    animation: marqueeAnimation-54766530 62.3354s linear 0s infinite running;
                     margin-left: 805.375px;
                }
        }
        .animateWord{
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
             margin-bottom: 0;
            list-style: none;
                .animate{
                    font-size: 14px;
                    color: #777777;
                    text-decoration-line: none;
                    line-height: 50px;
                    // &:hover{
                    //     color:#DA0000;
                    // }
                }
        }
    }


//..>>>>>>>>>>>>>>>>>>>>>>> media)


@media only screen and (max-width: 767px) {
  
        .contPadding{
            margin: 0px;
           padding:0px;
           max-width: 100%;
        }
    
    .title{
      width:100%;
      display: inline-block;
      float: none;
    }
}



.pageContent{
    padding-left: 11px;
    margin-top:24px;
   float: left;
    li{
        display: inline-block;
        .btn-link{
            text-decoration-color: none;
            text-decoration-line: none;
            color: #6B5A55;
            font-size: 14px;
        }
        
         .info{
            font-size: 13px;
            // color: #DA0000;
         }
       
    }
}

// left section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
 
.leftSection{
   
    margin-bottom: 65px;
       .LeftContent{
        padding-top: 0px;
         padding-bottom: 1px;
          position: static; 
          transform: none;
            .ImgPost{
                position: relative;
            .linkImg{
                img{
                width: 100%;
                max-width: 100%;
                height: auto;
                }
                }
                .icon{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 36px;
                    color: #fff;
                    font-size: 16px;
                    line-height: 36px;
                    text-align: center;
                    z-index: 1;
                    // background: #DA0000;
                        .star{
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        }
                }
                  .postMap{
                      cursor: pointer;
                        color: #fff;
                      
                        .btnLink{
                            display: inline-block;
                            position: absolute;
                            left: 15px;
                            right: 15px;
                            bottom: 10px;
                            margin-bottom: 0;
                            font-size: 12px;
                            line-height: 22px;
                            z-index: 1;
                            transition-duration: 0.3s;
                            // &:hover{
                            //     color:#DA0000;
                            // }
                            .googleMap{
                                display: inline-block;
                                margin-right: 10px;
                               
                            }
                        }
                  }  
                
            }
//>>>>>>>>>>>>>>>>>>>>>>>>>

.catsPost{
    .elements{
     margin: 18px -5px 11px;
    color: #999;
    line-height: 0;
        li{
            display: inline-block;
            margin: 10px 5px 0;
            vertical-align: middle;
           
          
            .opFolder{
                color: #777;
                font-size: 16px;
            }
            a{
            padding: 2px 9px;
            border: 1px solid #999;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #999;
            text-decoration-line: none;
            transition-duration: 0.3s;
          
                    &:hover{
                        // background: #DA0000;
                        color: white;
                        border-color: white;
                    }
            }
            
        }
        
    }

}

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.infoPost{
    .static{
    color: #999;
    font-size: 13px;
        li{
            display: inline-block;
             margin: 0 7.5px;
            
        }
        li a{
            font-size: 13px;
            color: #6B5A55;
            text-decoration-line: none;
            transition-duration: 0.2s;
                // &:hover{
                //     color: #DA0000;
                // }
        }
        
    }
    .title .h5{
        font-size: 34px;
        line-height: 46px;
    }
}
//..>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    .ContentPost{
        width:100%;
            .info{
                font-size: 13px;
                color: #6B5A55;
                line-height: 22px;
            }
            .title{
                color: #222;
                font-weight: 600;
                font-size: 18px;
            }
            .colPadding{padding-right:0px;}
            .list{
                padding-left:0px;
                list-style: none;
                font-size: 16px;
                        li{
                            padding-right: 0px;
                            font-size: 16px;
                            color:#6B5A55;
                            margin-bottom: 9px;
                        }
                    li:before {
                    content: "\f105";
                    margin-right: 8px;
                    font-family: "FontAwesome";
                }


            }
            img{
                max-width: 100%;
                height: auto;
            }
            .imgText{
                float: right;
                margin-bottom: 10px;
                font-size: 13px;
                color: #6B5A55;
                margin-top: 3px;
            }
            .italicFont:before {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 4px;
                background-color: #f2f3f5;
            }
            .italicFont{
                min-height: 140px;
                position: relative;
                margin-left: 30px;
                margin-right: 30px;
                padding-left: 34px;
                padding-right: 34px;
                color: #999;
                font-style: italic;
                border-left-width: 0;
               
               
        }
        .user{
           
            margin-left: 60px;
            margin-top: -6%;
            position: relative;
            padding-bottom: 6px;
            color: #222;
            font-style: normal;
            font-size: 16px;
            line-height: 26px;
        }
        @media only screen and (max-width: 550px) {
           .user{
               margin-top: 5%!important;
           }
        } 
        .title2{
            color: rgb(34, 34, 34);
            font-weight: 600;
            font-size: 18px;
        }      
    }
    //..>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    .tagsPost{
        margin-top: 110px;
        .items{
            margin: 18px -5px 11px;
            color: #6B5A55;
            li:nth-child(1) {
                border: none;
                background: white!important;
            }
            li{
                display: inline-block;
                margin: 10px 5px 0px;
                transition-duration: 0.4s;
                border: 1px solid #807777;
                height:22px;
                &:hover{
                    border-color: white!important;
                    // background: #DA0000;
                }
                        a{
                        font-size: 12px;
                        padding: 3px 10px;
                        color: #999999;
                        position: relative;
                        bottom: 3px;
                        text-decoration-line: none;
                        transition-duration: 0.3s;
                        &:hover{
                            color: white;
                           
                        }
                        }
            }
        }
    }
    //..>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    .sosialPost{
        margin-top: 18px;
            .title{
                display: inline-block;
                vertical-align: middle;
                color:#777B7B;
            }
            .items{
                display: inline-block;
                vertical-align: middle;
                li{
                    margin: 5px 5px 0;
                    border: 1px solid;
                    text-align: center;
                    a i{
                        min-width: 36px;
                        padding: 3px 8px;
                        font-size: 14px;
                        line-height: 24px;
                      
                    }
                }
                .bord1{
                    border-color: #3B5998;
                        .fa-facebook{
                            transition-duration: 0.3s;
                            color: #3B5998; 
                                &:hover{
                                    color: white;
                                    background: #3B5998;
                                }
                        }
                  
                }

                .bord2{
                    border-color: #00ACED;
                        .fa-twitter{
                            transition-duration: 0.3s;
                            color: #00ACED;
                            &:hover{
                                color: white;
                                background: #00ACED;
                            }
                        }
                }

                .bord3{
                    border-color: #D34836;
                        .fa-google-plus{
                            transition-duration: 0.3s;
                            color: #D34836;
                            &:hover{
                                color: white;
                                background: #D34836;
                            }
                        }
                }

                .bord4{
                    border-color: #0077B5;
                        .fa-linkedin{
                            transition-duration: 0.3s;
                            color: #0077B5;
                              &:hover{
                                color: white;
                                background: #0077B5;
                            }
                        }
                }

                .bord5{
                    border-color: #FF6600;
                        .fa-rss{
                            transition-duration: 0.3s;
                            color: #FF6600;
                            &:hover{
                                color: white;
                                background:#FF6600;
                            }
                        }
                }

                .bord6{
                    border-color: #BB0000;
                        .fa-youtube-play{
                            transition-duration: 0.3s;
                            color: #BB0000;
                            &:hover{
                                color: white;
                                background: #BB0000;
                            }
                        }
                }
            }
    }

    //>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    .postAuthorInfo{
        padding-right: 20px;
        position: relative;
        min-height: 200px;
        margin: 40px 0;
        border: 1px solid #eee;
                .img{
            position: absolute;
            top: -1px;
            left: -1px;
            bottom: -1px;
            padding: 30px 20px;
            color: #222;
            background-color: #f2f3f5;
            font-size: 14px;
                        a{ text-decoration-line: none!important;}
                    .box img{
                        width: 100%;
                       
                    } 
                    .name{
                        margin-top: 15px;
                        color: #222222;
                       
                    }
                }

               
                  
                .info{
                    margin-left: 175px;
                    .title{
                        font-size: 18px;
                        margin-top: 24px;
                       
                    }
                    .content{
                        margin-top: 18px;
                        color: #777;
                        font-family: "Source Sans Pro",sans-serif;
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 400;
                        word-wrap: break-word;
                       
                    }
                    .social{
                        margin: 9px -8px 0;
                        color: #999;
                        
                       
                           li{
                               margin: 6px;
                                a{
                                    color:#999999;
                                    transition-duration: 0.3s;
                                    // &:hover{
                                    //     color: #DA0000;
                                    // }
                                }
                           }
                        
                    }
                }
    }

             
    @media only screen and (max-width: 390px) {
        .postAuthorInfo{
            padding-right: 0px;
         
            .img{
                position: static!important;
                width:100%;
                text-align: center;

                .box img{
                    width: 100%;
                }
            }
            .info{
                float: left;
                margin-left: 0px;
                text-align: left;
               
            }
        }

 }
         
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.postInfor{
    display: inline-flex;
     margin-top: 20px;
    .h4{
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
   
    }
    .colorStyle{
        color: #999999;
        transition-duration: 0.3s;
        text-decoration: none;
        // &:hover{
        //     color: #DA0000;
        // }
    }
    .rightPost{
         text-align: right;
         .info{
      text-align: right;
     
        .meta{
            width: 100%;
           text-align: right;
           display: block;
           li{
               display: inline-block;
              
           }
        }
    }
    .info::before{
        content: '';
        position: absolute;
        border-left: 2px solid #EEEEEE;
        left:0;
        top:0;
        right: 0;
        bottom: 34px;
        width: 2px;
        background-color: #eee;
        z-index: -1;
        height: 100%;
      
        
    }
   
    }
    .rightPost, .leftPost{
        .btn-link{
            color: #222222;
            text-decoration-line: none;
            font-size: 14px;
            font-weight: 700;
            transition-duration: 0.3s;
                // &:hover{
                //     color:  #DA0000;;
                // }
        }
    }
    
    
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.postRelated{
    padding: 0px;
    position: relative;
    padding-top: 30px;
    .postItemTitle{
        padding: 12px 57px 13px 0;
        border-top: 2px solid;
            .h4{
                position: relative;
                margin: 0;
              display: inline-block;
                font-size: 16px;
                line-height: 26px;
                font-weight: 600;
                text-transform: uppercase;
                z-index: 0;
            }
            .arrows{
                position: relative;
                line-height: 0px;
                height: 50px;
                color: #999;
                display: inline-block;
                position: absolute;
                right: 0;
                .btnLink{
                    transition-duration: 0.3s;
                    text-decoration: none;
                    color: #999999;
                        // &:hover{
                        //     color: #DA0000;
                        // }
                }
               
            }
            
    }
    .postItem{
        img{
            width: 100%;
            opacity: 0.8.5;
            transition-duration: 0.4s;
                &:hover{
                   
                    filter: brightness(40%);
                    opacity: 0.5;
                }
        }
        .cat{
            position: absolute;
            top: 15px;
            left: 28px;
            padding: 0 10px;
            color: #fff;
            font-size: 12px;
            line-height: 22px;
            text-transform: uppercase;
            z-index: 1;
            background: #2A2A2A;
            text-decoration: none;
            transition-duration: 0.3s;
                    // &:hover{
                    //     background: #DA0000;
                    // }
            
        }
        .icon{
            position: absolute;
            top: 15px;
            right: 28px;
            width: 36px;
            color: #fff;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
            z-index: 1;
            // background: #DA0000;
            transition-duration: 0.3s!important;
            &:hover{
                background: #1B1A1B!important;
            }
        }
        .postInfo{
            margin-bottom: 8px;
            position: absolute;
            left: 30px;
            right: 15px;
            bottom: 130px;
            color: #fff;
            z-index: 1;
           line-height: 5px;
         
            .meta li a{
                margin: 9px 3px;
                line-height: 0;
                display: inline-block;
                font-size: 14px;
                color: white;
                text-decoration-line: none;
                transition-duration: 0.3s;
                // &:hover{
                //     color: #DA0000;
                // }
                
            }
            .title{
                .h4{
                    margin-left: 4px;
                    line-height: 15px;
                    font-weight: 600;
                    transition-duration: 0.3s;
                  
                  
                    a{
                        text-decoration-line: none;
                        color: white;
                        font-size: 13px;
                        font-weight: 600;
                        transition-duration: 0.3s;
                            // &:hover{
                            //     color: #DA0000;
                            // }
                    }
                   
                }
            }
        }
        .postContent{
            margin-top:8px;
            font-size: 13px;
            line-height: 23px;
            color:#999999;
        }
        .postReading a{
            color: #222;
            font-size: 13px;
            text-decoration: none;
            transition-duration: 0.3s;
                // &:hover{
                //     color: #DA0000;
                // }
        }
    }
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.commentPost{
    position: relative;
    padding-top: 60px;
    .postItemTitle{
        padding: 12px 57px 13px 0;
        border-top: 2px solid;
            .h4{
            position: relative;
            margin: 0;
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            text-transform: uppercase;
            z-index: 0;
            }
            .icon{
               color:#999999;
                font-size: 16px;
                line-height: 26px;
                position: absolute;
                top: 75px;
                right: 0px;
               
                
            }
    }
    .commentItem{
        .commentImg{
           
            img{
                max-width: 60px;
                margin-right: 20px;
                border: 2px solid #ccc;
                float: left;
              
            }
        }
        .commentInfo{
            border-radius: 2px;
            margin-bottom: 20px;
            padding: 16px 20px 3px;
            background-color: #f2f3f5;
            overflow: hidden;
            .commentTitle{
                margin-bottom: 23px;
                color: #999;
                line-height: 18px;
                .name{
                    float: left;
                    margin-bottom: 0;
                    color: #222222;
                    font-weight: 620;
                    font-size: 13px;
                }
                .date{
                    float: left;
                    margin-left: 15px;
                    margin-bottom: 0;
                    padding-left: 14px;
                    border-left: 1px solid #ccc;
                }
                .reply{
                    float: right;
                    display: block;
                    color:#999999;
                }
                
               
            }
            .commentContent{
                p{
                    margin: 0 0 10px;
                    font-size: 13px;
                    color: #999999;
                    line-height: 25px;
                }
            }
        }
    }
}

//.>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.formPost{
  
    margin-top: 38px;
    .postTitle{
        width: 100%;
        border-top: 2px solid;
       
            .h4{
                position: relative;
                margin: 0;
                font-size: 16px;
                line-height: 40px;
                font-weight: 600;
                display: inline;
               
               
            }
            .icon{
                float: right;
                line-height: 40px;
                color: #999999;
            }
          
   
}
.box{
    margin-top: 5px;
    background: #F2F3F5;
    padding: 30px;
        
    p{
        color: #222;
        font-weight: 600;
        font-size: 13px;
    }
    span{
        font-size: 13px;
        color:#9F778B;
       
    }
    .form-control{
        background: #F2F3F5;
        width: 100%;
        padding: .375rem 5.75rem;
         
    }
    .txtArea{
        min-height: 185px;
    }
    .btn{
        padding: 2px 15px;
        border-radius: 0;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        margin-top: 16px;
        transition-duration: 0.4s;
        // background: #DA0000;
        color: white;
        &:hover{
            background: #000000!important;
        }
    }
}

}
   
}

// leftSection>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>




}  // left section

   


@media  screen and (max-width: 991px) {
    .rightSection{
        padding-left: 0px;
        padding-right: 0px;
    }
    .leftSection{
        padding: 0px;
    }
    

}

// @media  screen and (max-width: 991px)  and (min-width: 767px){
//     .rightSection{
//         // padding-left: 20px;
//     }
// }
// rightSection >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.rightSection{
   
    width: 100%;
    .contentRight{
        .widget .adWidget{
            background: #F8F8F8;
            width: 100%;
            height: 45px;
        }  
         
        .sosialLIfe{
           
            width: 100%;
            margin-top: 60px;
            .title{
                position: relative;
                padding: 12px 24px 13px 0;
                border-top: 2px solid;
                    .h4{
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 600;
                    }
                    .icon{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -13px;
                    color: #999;
                    font-size: 16px;
                    line-height: 26px;
                    }
                
            }
            .socialsContent{
                padding: 5px 0;
                background-color: #f8f8f8;
                line-height: 0;
                .box{
                    width: 33.3333%;
                  
                        a{
                            text-decoration-line: none;
                            position: relative;
                            padding: 15px 15px 8px;
                            font-weight: 600;
                            text-align: center;
                            display: grid;
                                .icon{
                                    width: 50px;
                                    height: 50px;
                                    margin: 0 auto;
                                    border: 1px solid;
                                    border-radius: 50%;
                                    font-size: 24px;
                                    line-height: 48px;
                                    transition-duration: 0.4s;
                                }
                               
                                .scount{
                                    margin-top: 6px;
                                    color: #222;
                                    line-height: 28px;
                                    color: black;
                                }
                                .stitle{
                                    color: #999;
                                    font-size: 14px;
                                    line-height: 24px;
                                }
                        }
                }
                .facebook{
                    a .icon{
                      border: 1px solid #3B599B;
                      color:#3B599B;
                   
                     }
                  }
                  
                  .facebook:hover .icon{
                    background: #3B599B;
                    color: white;
                }
                  .twitter{
                    a .icon{
                      border: 1px solid #00ACED;
                      color:#00ACED;
                      
                      
                     }
                  }
                  .twitter:hover .icon{
                    background: #00ACED;
                    color: white;
                }
                  .google{
                    a .icon{
                      border: 1px solid #D34836;
                      color:#D34836;
                     
                     }
                  }
                  .google:hover .icon{
                    background: #D34836;
                    color: white;
                }
                  .rss{
                    a .icon{
                      border: 1px solid #FF6600;
                      color:#FF6600;
                      
                     }
                  }
                  .rss:hover .icon{
                    background:#FF6600;
                    color: white;
                }
                  .vimeo{
                    a .icon{
                      border: 1px solid #4EBBFF;
                      color:#4EBBFF;
                     
                     }
                  }
                  .vimeo:hover .icon{
                    background:#4EBBFF;
                    color: white;
                }
                  .youtube{
                    a .icon{
                      border: 1px solid #BB0000;
                      color:#BB0000;
                      
                     }
                  }
                  .youtube:hover .icon{
                    background:#BB0000;
                    color: white;
                }
                .box a:before {
                    content: " ";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    max-height: 50px;
                    border-right: 1px solid #eee;
                }
               .box:nth-child(1)>a:before, 
               .box:nth-child(2)>a:before, 
               .box:nth-child(3)>a:before {
                    top: auto;
                    bottom: 0;
                }
                .box a:after {
                    content: " ";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    width: 100%;
                    border-bottom: 1px solid #eee;
                 
                }
                .box:nth-child(4)>a:after, 
                .box:nth-child(5)>a:after, 
                .box:nth-child(6)>a:after {
                    border-bottom: none;
                 }
            }
        }




  //>>>>>>>>>>>>>>>>>>>>>>>>>>>>



        .emailPost{
            margin-top: 60px;
            .postTitle{
                position: relative;
                padding: 12px 24px 13px 0;
                border-top: 2px solid;
                .h4{
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 600;
                   
                }
                .icon{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -13px;
                    color: #999;
                    font-size: 16px;
                    line-height: 26px;
                    
                }

            }
            .emailContent{
                padding: 30px 20px;
                background: #F8F8F8;
                    .content{
                        font-size: 13px;
                    }
                    .row{padding: 0 14px;}
                    .inputt{
                        height: 40px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        background-color: #eee;
                        border: none;
                        float: left;
                        outline: none;
                        margin-bottom: 0;
                       
                    }
                    .btnn{
                        min-width: 50px;
                        padding: 6px 16px;
                        border-radius: 0px;
                        color: white;
                        outline: none;
                        border: none;
                    }
            }
        }


//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.featuredPost{
    margin-top: 60px;
        .postTitle{
            position: relative;
            padding: 12px 24px 13px 0;
            border-top: 2px solid;
                .h4{
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 600;
                }
                .icon{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -13px;
                    color: #999;
                    font-size: 16px;
                    line-height: 26px;
                    
                }
        }
        .featuredContent{
            background: #F8F8F8;
                .list{
                    padding: 20px 20px 15px;
                    color: #999;
                 
                    .box{
                       width: 100%;
                       li{
                        border: 1px solid #eee;
                        height: auto;
                        .link{
                            padding: 0 15px;
                            line-height: 18px;
                            color: inherit;
                            font-size: 13px;
                            text-decoration-line: none;
                           
                        }
                        
                       }
                   
                    }
                    @media  screen and (max-width: 767px) {
                        .box{
                            display: block;
                            li{
                                padding: 6px 0;
                                text-align: center;
                               
                            }
                        }

               }
                }

        }
        .postItems{
            background: #F8F8F8;
            .bord{
              
    li{
        
        padding-left: 20px;
        padding-right: 20px;
            .postImg{
                border-top: 1px solid #eee;
                padding-top: 15px;
                padding-bottom: 25px;
                img{
                    float: left;
                    width: 100px;
                    margin-right: 20px;
                }
            .postInfo{
                overflow: hidden;
                .meta{
                    margin: 0 -7.5px;
                    
                    
                    li {
                        display: inline-block;
                        margin: 0 7.5px;
                        font-size: 13px;
                        padding: 0px;
                            a{
                            padding: 0;
                            font-size: 14px;
                            color: #999;
                            text-decoration-line: none;
                            transition-duration: 0.3s;
                           
                            }
                            }
                        }
                    .title{
                        .h4{
                            line-height: 16px;
                            .btn-link{
                                color: #222;
                                margin: 0;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 0px!important;
                                text-decoration-line: none;
                                transition-duration: 0.3s;
                                    
                            }
                        }
                            }
                        }
                    }
                    }
            }
        }
}

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.advertisementPost{
    margin-top: 60px;
    .postTitle{
        position: relative;
        padding: 12px 24px 13px 0;
        border-top: 2px solid;
        .h4{
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
        }
        .icon{
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -13px;
            color: #999;
            font-size: 16px;
            line-height: 26px;
        }
    }
    .addContent{
        padding: 30px 30px 15px;
        background-color: #f8f8f8;
        
    }
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.postStatic{
    margin-top: 60px;
        .postTitle{
            position: relative;
            padding: 12px 24px 13px 0;
            border-top: 2px solid;
            .h4{
                font-size: 16px;
                line-height: 26px;
                font-weight: 600;
            }
            .pageBtn{
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -13px;
                color: #999;
                font-size: 16px;
                line-height: 26px;
                a{
                    color: #999;
                    transition-duration: 0.3s;
                        // &:hover{
                        //     color: #DA0000;
                        // }
                }
            }
        }
        .postContent{
            padding: 14px 20px 20px;
            background: #F8F8F8;
           .box{ 
               border-top: 1px solid #F1F1F1;
               padding-top: 14px;
          .activv{
            display: block;
            font-size: 13px;
            padding-bottom: 15px;
            .input{
                margin-right: 8px;
              
            }
          }
          .btn{
              margin-top: 13px;
            padding: 2px 15px;
            border-radius: 0;
            font-size: 14px;
            line-height: 24px;
            font-weight: 600;
            color: white;
            // background: #DA0000;
            transition-duration: 0.3s;
            &:hover{
                background: black!important;
            }
          }
        }
        .indicator{
           display: flex;
           font-size: 12px;
           padding-bottom: 27px;
        #progress {
            margin-right: 4px;
            height: 13px;
            width: 100%;
            background-color: #F8F8F8;
            border: 0.5px solid #CCCCCC;
          #bar {
            width: 65%;
            height: 12px;
            // background-color: red;
          }
        }
        #progress2{
            margin-right: 4px;
            height: 13px;
            width: 100%;
            background-color: #F8F8F8;
            border: 0.5px solid #CCCCCC;
          #bar2{
            width: 28%;
            height: 12px;
            // background-color: red;
          }
        }
        #progress3{
            margin-right: 4px;
            height: 13px;
            width: 100%;
            background-color: #F8F8F8;
            border: 0.5px solid #CCCCCC;
          #bar3{
            width: 07%;
            height: 12px;
            // background-color: red;
          }
        }
        span{
            margin-top: -3px;
        }
    }
        }
        
        
}

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.postImage{
    margin-top: 60px;
    background: #F8F8F8;
    .imgContent{
        padding: 20px 20px 15px;
        background-color: #f8f8f8;
        text-align: center;
        img{
            max-width: 100%;
            height: auto;
        }
       
        .leftSide,
        .rightSide{
           padding-bottom: 5px;
        }
    }
}

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.readersOpinion{
    margin-top: 60px;
    .postTitle{
        position: relative;
        padding: 12px 24px 13px 0;
        border-top: 2px solid;
        .h4{
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
        }
        .postControl{
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -13px;
            color: #999;
                a{
                color: #999;
                transition-duration: 0.3s;
                        // &:hover{
                        //     color: #DA0000;
                        // }
                }
        }
    }
    .readerContent{
        background: #F8F8F8;
    .contentBox{
        border-top: 1px solid #eee;
        li{
            padding-left: 20px;
            padding-right: 20px;
        }
        padding-top: 15px;
        padding-bottom: 15px;
       
        .postImg{
         
            .imageBox{
                float: left;
                margin-right: 17px;
              
            img{
                max-width: 100%;
                height: auto;
            }
        }
            .postInfo{
              overflow: hidden;
            
                .title{
                 display: flex;
                flex-wrap: nowrap;
                .h4{
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                    color: #222222;
                    width: 100%;
                }

                    
                }
                .meta{
                    margin-top: -7px;
                    li{
                        padding: 0;
                    span{
                        display: inline-block;
                        font-size: 13px;
                        padding-right: 16px;
                        color: #999999;
                    }
                }
            }
            }
        }
       
    }
    .contentBox:nth-child(1){border: none;}
}
}

//.>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>




.readersOpinion2{
    margin-top: 60px;
    .postTitle{
        position: relative;
        padding: 12px 24px 13px 0;
        border-top: 2px solid;
        .h4{
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
        }
        .postControl{
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -13px;
            color: #999;
                a{
                    color: #999;
                    transition-duration: 0.3s;
                        // &:hover{
                        //     color: #DA0000;
                        // }
                }
        }
    }
    .readerContent{
        background: #F8F8F8;
    .contentBox{
        border-top: 1px solid #eee;
        li{
            padding-left: 20px;
            padding-right: 20px;
        }
        padding-top: 15px;
        padding-bottom: 15px;
       
        .postImg{
          
            .imageBox{
                float: left;
                border: 2px solid #999999;
                border-radius: 50%;
                margin-right: 17px;
              
            img{
                max-width: 100%;
                height: auto;
             
            }
        }
            .postInfo{
              overflow: hidden;
             
                .title{
                    display: flex;
                    flex-wrap: nowrap;
                .h4::before{
                    content: "\f10d";
                    margin-left: 1px;
                    margin-right: 9px;
                    color: #999;
                    font-family: "FontAwesome";
                    font-size: 13px;
                }
                .h4{
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                    color: #222222;
                 
                }

                    
                }
                .meta{
                    margin-top: -7px;
                    li{
                        padding: 0;
                    span{
                        display: inline-block;
                        font-size: 13px;
                        padding-right: 16px;
                        color: #999999;
                    }
                }
            }
            }
        }
       
    }
    .contentBox:nth-child(1){border: none;}
}



}


}//contentRight
}//rightSection
// .h4{
//     color: #DA0000;
// }

}
}

//.>>>>>>>>>>>>>>>>>>>>>>>>>>> color style)





.mainColorStyle{
    transition-duration: 0.7s;
    left: -251px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 20px;
    background: white;
    width: 251px;
    height: 137px;
    z-index: 99999;
    position: fixed;
    top: 186px;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 9px 46px 0px,
    rgba(0, 0, 0, 0.12) 0px 11px 15px 0px, 
    rgba(0, 0, 0, 0.2) 0px 24px 38px 0px;

    .colorContent{
        position: relative;
        padding-top: 10px;
    .colorControl{
        display: inline-block;
        width: 28px;
        height: 28px;
        margin: 4px;
    }
    .control1{
        cursor: pointer;
        background: #DA0000;
    }
    .control2{
        cursor: pointer;
        background: #119EE6;
    }
    .control3{
        cursor: pointer;
        background: #179EA8;
    }
    .control4{
        cursor: pointer;
        background: #82B440;
    }
    .control5{
        cursor: pointer;
        background: #F69323;
    }
    .control6{
        cursor: pointer;
        background: #FC5143;
    }
    .control7{
        cursor: pointer;
        background: #D48B91;
    }
    .control8{
        cursor: pointer;
        background: #8CBEB2;
    }
    .control9{
        cursor: pointer;
        background: #00B249;
    }
    .control10{
        cursor: pointer;
        background: #924CF3;
    }
    }
    .colorControlBtn{
        position: absolute;
        right:-51px;
        top:0px;
            .colorChange{
                cursor: pointer;
                width: 50px;
                height: 50px;
                border: none;
                outline: none;
                // background: #DA0000;
                color: white;
                box-shadow: rgba(0, 0, 0, 0.14) 10px 5px 46px 8px,
                 rgba(0, 0, 0, 0.2) 10px 0px 26px -6px;
            }
    }
}


.backgroundColor,
.borderColor,
.textColor{
    
    transition-duration: 0.8s;
}
