html,
body {
  margin: 0px;
  overflow-x: hidden; }

#main {
  width: 100%; }
  #main .headerSosial {
    width: 100%;
    min-height: 50px;
    border: 1px solid;
    background: #1D1D1D; }
    #main .headerSosial .content {
      width: 100%;
      min-height: 50px;
      border: 1px solid;
      font-size: 14px; }
      #main .headerSosial .content .leftSide {
        float: left;
        max-width: 400px;
        padding-top: 11px;
        color: #999999; }
        #main .headerSosial .content .leftSide .newyork {
          margin-right: 10px; }
        #main .headerSosial .content .leftSide .celcius {
          margin-right: 11px; }
      #main .headerSosial .content .rightSide {
        padding-top: 11px;
        min-height: 50px;
        border: 1px solid;
        float: right;
        max-width: 450px; }
        #main .headerSosial .content .rightSide .login {
          margin-right: 27px;
          font-size: 14px;
          display: inline-block; }
          #main .headerSosial .content .rightSide .login a {
            color: white;
            -webkit-transition: color .2s ease-in;
            text-decoration-line: none; }
            #main .headerSosial .content .rightSide .login a:hover {
              color: #999999; }
        #main .headerSosial .content .rightSide .lang {
          margin-right: 27px;
          display: inline-block; }
          #main .headerSosial .content .rightSide .lang a {
            color: #999999;
            text-decoration-line: none;
            -webkit-transition: color .2s ease-in; }
            #main .headerSosial .content .rightSide .lang a:hover {
              color: #5C5C5C; }
          #main .headerSosial .content .rightSide .lang .drop {
            display: none;
            position: absolute;
            width: 99px !important;
            padding-left: 0px;
            top: 40px;
            right: -13px;
            box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2); }
            #main .headerSosial .content .rightSide .lang .drop a {
              padding-left: 11px; }
            #main .headerSosial .content .rightSide .lang .drop li {
              padding-top: 8px;
              list-style: none;
              padding-bottom: 5px; }
            #main .headerSosial .content .rightSide .lang .drop .bord {
              width: 100%;
              border-bottom: 1px solid #EEEEEE; }
            #main .headerSosial .content .rightSide .lang .drop .border-style {
              border-bottom: 2px solid; }
        #main .headerSosial .content .rightSide .sosials {
          display: inline-flex; }
          #main .headerSosial .content .rightSide .sosials a {
            margin-right: 20px;
            color: #999999;
            -webkit-transition: color .2s ease-in; }
            #main .headerSosial .content .rightSide .sosials a:hover {
              color: #5C5C5C; }
  @media only screen and (max-width: 991px) {
    #main .sosials {
      display: none !important; } }
  @media only screen and (max-width: 768px) {
    #main .sosials {
      display: inline-flex !important; }
    #main .leftSide,
    #main .rightSide {
      float: none !important;
      clear: both;
      margin: 0 auto; } }
  @media screen and (max-width: 480px) {
    #main .sosials {
      display: none !important; }
    #main .content {
      text-align: center !important; }
    #main .leftSide .leftul {
      width: 210px;
      display: inline-flex; } }
  #main .logoSection {
    width: 100%;
    height: 152px;
    padding-top: 38px; }
  @media screen and (max-width: 991px) {
    #main .logoImg {
      margin: 0 auto; }
    #main .mobileButton {
      display: block !important;
      position: relative;
      top: -13px;
      outline: none !important; }
      #main .mobileButton .mBtn {
        outline: none;
        border-color: white;
        border-radius: 0px; } }
  #main .mobileButton {
    display: none; }
  #main .header {
    width: 100%;
    height: 64px;
    padding-top: 18px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    z-index: 999; }
    #main .header .maxHeight {
      height: 100%; }
    #main .header li {
      list-style: none;
      margin: 0 auto; }
    #main .header .formBox {
      position: relative;
      width: 85px; }
      #main .header .formBox .iinput {
        opacity: 0;
        top: -3px;
        width: 0px;
        height: 38px;
        right: 8%;
        position: absolute;
        border-radius: 26px;
        border: none;
        outline: none;
        padding-left: 15px !important;
        background: #F0F0F0;
        transition-duration: 0.8s; }
      #main .header .formBox .search {
        position: absolute;
        z-index: 100;
        top: 6px;
        right: 12%;
        cursor: pointer;
        color: white; }
    #main .header .links {
      height: 100%; }
      #main .header .links:hover {
        border-bottom: 2px solid white; }
      #main .header .links a {
        color: white;
        text-decoration-line: none; }
    #main .header .hideContent {
      display: none; }
  @media screen and (max-width: 991px) {
    #main .header li {
      display: none; }
    #main .header .hideContent {
      display: block; } }
  #main .mobileContent {
    width: 256px;
    height: 100% !important;
    position: fixed;
    background: white;
    top: 0px;
    left: -300px;
    transition-duration: 0.6s;
    transition-delay: 0.3s; }
    #main .mobileContent .closee {
      z-index: 99999999;
      color: white;
      position: relative;
      left: 256px;
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer; }
    #main .mobileContent .mlinks {
      padding-left: 10px;
      top: -25px;
      position: relative;
      display: block;
      margin-bottom: 14px;
      width: 100%;
      padding-bottom: 6px;
      border-bottom: 2px solid transparent;
      transition-duration: 0.2s; }
      #main .mobileContent .mlinks:hover {
        border-bottom: 2px solid #777777; }
      #main .mobileContent .mlinks a {
        color: #999999;
        text-decoration-line: none; }
  #main .centerStyle {
    display: flex;
    justify-content: center; }
    #main .centerStyle li {
      display: inline-block;
      text-align: center;
      border-bottom: 1px solid #f0f0f0;
      border-right: 1px solid #f0f0f0; }
      #main .centerStyle li .blockk {
        padding: 0 20px 7px;
        width: 100%;
        font-size: 17px;
        line-height: 28px;
        font-weight: 600;
        z-index: 0;
        text-decoration-line: none;
        color: #222222;
        transition-duration: 0.3s; }
        #main .centerStyle li .blockk .icons {
          display: block;
          margin-bottom: 4px;
          text-rendering: auto;
          transition-duration: 0.5s; }
    #main .centerStyle .bordNone {
      border-right: none !important; }
  @media only screen and (max-width: 767px) {
    #main .centerStyle {
      display: none; } }

@media screen and (max-width: 1199px) {
  #main .responMaxWidth {
    max-width: 97% !important; } }
@media only screen and (max-width: 767px) {
  #main #wrapper {
    padding: 0 5px; } }
@-webkit-keyframes marqueeAnimation-54766530 {
  100% {
    margin-left: -1704.34px; } }
#main #wrapper .news-animate {
  margin-top: 30px;
  color: #777;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 10px; }
  #main #wrapper .news-animate .title {
    float: left;
    padding: 11px 30px 13px;
    color: #fff;
    background-color: #1d1d1d;
    display: inline; }
    #main #wrapper .news-animate .title h2 {
      display: inline-block;
      margin: 0 10px 0 0;
      font-size: 16px;
      line-height: 26px;
      font-weight: 600; }
  #main #wrapper .news-animate .updatesList {
    direction: ltr;
    position: relative;
    max-height: 50px;
    padding: 0 12px;
    color: #999;
    background-color: #FAFAFA;
    overflow: hidden;
    z-index: 0;
    height: 50px; }
    #main #wrapper .news-animate .updatesList .animateWrapper {
      width: 100000px;
      animation: marqueeAnimation-54766530 62.3354s linear 0s infinite running;
      margin-left: 805.375px; }
  #main #wrapper .news-animate .animateWord {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    #main #wrapper .news-animate .animateWord .animate {
      font-size: 14px;
      color: #777777;
      text-decoration-line: none;
      line-height: 50px; }
@media only screen and (max-width: 767px) {
  #main #wrapper .contPadding {
    margin: 0px;
    padding: 0px;
    max-width: 100%; }
  #main #wrapper .title {
    width: 100%;
    display: inline-block;
    float: none; } }
#main #wrapper .pageContent {
  padding-left: 11px;
  margin-top: 24px;
  float: left; }
  #main #wrapper .pageContent li {
    display: inline-block; }
    #main #wrapper .pageContent li .btn-link {
      text-decoration-color: none;
      text-decoration-line: none;
      color: #6B5A55;
      font-size: 14px; }
    #main #wrapper .pageContent li .info {
      font-size: 13px; }
#main #wrapper .leftSection {
  margin-bottom: 65px; }
  #main #wrapper .leftSection .LeftContent {
    padding-top: 0px;
    padding-bottom: 1px;
    position: static;
    transform: none; }
    #main #wrapper .leftSection .LeftContent .ImgPost {
      position: relative; }
      #main #wrapper .leftSection .LeftContent .ImgPost .linkImg img {
        width: 100%;
        max-width: 100%;
        height: auto; }
      #main #wrapper .leftSection .LeftContent .ImgPost .icon {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 36px;
        color: #fff;
        font-size: 16px;
        line-height: 36px;
        text-align: center;
        z-index: 1; }
        #main #wrapper .leftSection .LeftContent .ImgPost .icon .star {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased; }
      #main #wrapper .leftSection .LeftContent .ImgPost .postMap {
        cursor: pointer;
        color: #fff; }
        #main #wrapper .leftSection .LeftContent .ImgPost .postMap .btnLink {
          display: inline-block;
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: 10px;
          margin-bottom: 0;
          font-size: 12px;
          line-height: 22px;
          z-index: 1;
          transition-duration: 0.3s; }
          #main #wrapper .leftSection .LeftContent .ImgPost .postMap .btnLink .googleMap {
            display: inline-block;
            margin-right: 10px; }
    #main #wrapper .leftSection .LeftContent .catsPost .elements {
      margin: 18px -5px 11px;
      color: #999;
      line-height: 0; }
      #main #wrapper .leftSection .LeftContent .catsPost .elements li {
        display: inline-block;
        margin: 10px 5px 0;
        vertical-align: middle; }
        #main #wrapper .leftSection .LeftContent .catsPost .elements li .opFolder {
          color: #777;
          font-size: 16px; }
        #main #wrapper .leftSection .LeftContent .catsPost .elements li a {
          padding: 2px 9px;
          border: 1px solid #999;
          font-size: 12px;
          line-height: 20px;
          text-transform: uppercase;
          color: #999;
          text-decoration-line: none;
          transition-duration: 0.3s; }
          #main #wrapper .leftSection .LeftContent .catsPost .elements li a:hover {
            color: white;
            border-color: white; }
    #main #wrapper .leftSection .LeftContent .infoPost .static {
      color: #999;
      font-size: 13px; }
      #main #wrapper .leftSection .LeftContent .infoPost .static li {
        display: inline-block;
        margin: 0 7.5px; }
      #main #wrapper .leftSection .LeftContent .infoPost .static li a {
        font-size: 13px;
        color: #6B5A55;
        text-decoration-line: none;
        transition-duration: 0.2s; }
    #main #wrapper .leftSection .LeftContent .infoPost .title .h5 {
      font-size: 34px;
      line-height: 46px; }
    #main #wrapper .leftSection .LeftContent .ContentPost {
      width: 100%; }
      #main #wrapper .leftSection .LeftContent .ContentPost .info {
        font-size: 13px;
        color: #6B5A55;
        line-height: 22px; }
      #main #wrapper .leftSection .LeftContent .ContentPost .title {
        color: #222;
        font-weight: 600;
        font-size: 18px; }
      #main #wrapper .leftSection .LeftContent .ContentPost .colPadding {
        padding-right: 0px; }
      #main #wrapper .leftSection .LeftContent .ContentPost .list {
        padding-left: 0px;
        list-style: none;
        font-size: 16px; }
        #main #wrapper .leftSection .LeftContent .ContentPost .list li {
          padding-right: 0px;
          font-size: 16px;
          color: #6B5A55;
          margin-bottom: 9px; }
        #main #wrapper .leftSection .LeftContent .ContentPost .list li:before {
          content: "\f105";
          margin-right: 8px;
          font-family: "FontAwesome"; }
      #main #wrapper .leftSection .LeftContent .ContentPost img {
        max-width: 100%;
        height: auto; }
      #main #wrapper .leftSection .LeftContent .ContentPost .imgText {
        float: right;
        margin-bottom: 10px;
        font-size: 13px;
        color: #6B5A55;
        margin-top: 3px; }
      #main #wrapper .leftSection .LeftContent .ContentPost .italicFont:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 4px;
        background-color: #f2f3f5; }
      #main #wrapper .leftSection .LeftContent .ContentPost .italicFont {
        min-height: 140px;
        position: relative;
        margin-left: 30px;
        margin-right: 30px;
        padding-left: 34px;
        padding-right: 34px;
        color: #999;
        font-style: italic;
        border-left-width: 0; }
      #main #wrapper .leftSection .LeftContent .ContentPost .user {
        margin-left: 60px;
        margin-top: -6%;
        position: relative;
        padding-bottom: 6px;
        color: #222;
        font-style: normal;
        font-size: 16px;
        line-height: 26px; }
      @media only screen and (max-width: 550px) {
        #main #wrapper .leftSection .LeftContent .ContentPost .user {
          margin-top: 5% !important; } }
      #main #wrapper .leftSection .LeftContent .ContentPost .title2 {
        color: #222222;
        font-weight: 600;
        font-size: 18px; }
    #main #wrapper .leftSection .LeftContent .tagsPost {
      margin-top: 110px; }
      #main #wrapper .leftSection .LeftContent .tagsPost .items {
        margin: 18px -5px 11px;
        color: #6B5A55; }
        #main #wrapper .leftSection .LeftContent .tagsPost .items li:nth-child(1) {
          border: none;
          background: white !important; }
        #main #wrapper .leftSection .LeftContent .tagsPost .items li {
          display: inline-block;
          margin: 10px 5px 0px;
          transition-duration: 0.4s;
          border: 1px solid #807777;
          height: 22px; }
          #main #wrapper .leftSection .LeftContent .tagsPost .items li:hover {
            border-color: white !important; }
          #main #wrapper .leftSection .LeftContent .tagsPost .items li a {
            font-size: 12px;
            padding: 3px 10px;
            color: #999999;
            position: relative;
            bottom: 3px;
            text-decoration-line: none;
            transition-duration: 0.3s; }
            #main #wrapper .leftSection .LeftContent .tagsPost .items li a:hover {
              color: white; }
    #main #wrapper .leftSection .LeftContent .sosialPost {
      margin-top: 18px; }
      #main #wrapper .leftSection .LeftContent .sosialPost .title {
        display: inline-block;
        vertical-align: middle;
        color: #777B7B; }
      #main #wrapper .leftSection .LeftContent .sosialPost .items {
        display: inline-block;
        vertical-align: middle; }
        #main #wrapper .leftSection .LeftContent .sosialPost .items li {
          margin: 5px 5px 0;
          border: 1px solid;
          text-align: center; }
          #main #wrapper .leftSection .LeftContent .sosialPost .items li a i {
            min-width: 36px;
            padding: 3px 8px;
            font-size: 14px;
            line-height: 24px; }
        #main #wrapper .leftSection .LeftContent .sosialPost .items .bord1 {
          border-color: #3B5998; }
          #main #wrapper .leftSection .LeftContent .sosialPost .items .bord1 .fa-facebook {
            transition-duration: 0.3s;
            color: #3B5998; }
            #main #wrapper .leftSection .LeftContent .sosialPost .items .bord1 .fa-facebook:hover {
              color: white;
              background: #3B5998; }
        #main #wrapper .leftSection .LeftContent .sosialPost .items .bord2 {
          border-color: #00ACED; }
          #main #wrapper .leftSection .LeftContent .sosialPost .items .bord2 .fa-twitter {
            transition-duration: 0.3s;
            color: #00ACED; }
            #main #wrapper .leftSection .LeftContent .sosialPost .items .bord2 .fa-twitter:hover {
              color: white;
              background: #00ACED; }
        #main #wrapper .leftSection .LeftContent .sosialPost .items .bord3 {
          border-color: #D34836; }
          #main #wrapper .leftSection .LeftContent .sosialPost .items .bord3 .fa-google-plus {
            transition-duration: 0.3s;
            color: #D34836; }
            #main #wrapper .leftSection .LeftContent .sosialPost .items .bord3 .fa-google-plus:hover {
              color: white;
              background: #D34836; }
        #main #wrapper .leftSection .LeftContent .sosialPost .items .bord4 {
          border-color: #0077B5; }
          #main #wrapper .leftSection .LeftContent .sosialPost .items .bord4 .fa-linkedin {
            transition-duration: 0.3s;
            color: #0077B5; }
            #main #wrapper .leftSection .LeftContent .sosialPost .items .bord4 .fa-linkedin:hover {
              color: white;
              background: #0077B5; }
        #main #wrapper .leftSection .LeftContent .sosialPost .items .bord5 {
          border-color: #FF6600; }
          #main #wrapper .leftSection .LeftContent .sosialPost .items .bord5 .fa-rss {
            transition-duration: 0.3s;
            color: #FF6600; }
            #main #wrapper .leftSection .LeftContent .sosialPost .items .bord5 .fa-rss:hover {
              color: white;
              background: #FF6600; }
        #main #wrapper .leftSection .LeftContent .sosialPost .items .bord6 {
          border-color: #BB0000; }
          #main #wrapper .leftSection .LeftContent .sosialPost .items .bord6 .fa-youtube-play {
            transition-duration: 0.3s;
            color: #BB0000; }
            #main #wrapper .leftSection .LeftContent .sosialPost .items .bord6 .fa-youtube-play:hover {
              color: white;
              background: #BB0000; }
    #main #wrapper .leftSection .LeftContent .postAuthorInfo {
      padding-right: 20px;
      position: relative;
      min-height: 200px;
      margin: 40px 0;
      border: 1px solid #eee; }
      #main #wrapper .leftSection .LeftContent .postAuthorInfo .img {
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        padding: 30px 20px;
        color: #222;
        background-color: #f2f3f5;
        font-size: 14px; }
        #main #wrapper .leftSection .LeftContent .postAuthorInfo .img a {
          text-decoration-line: none !important; }
        #main #wrapper .leftSection .LeftContent .postAuthorInfo .img .box img {
          width: 100%; }
        #main #wrapper .leftSection .LeftContent .postAuthorInfo .img .name {
          margin-top: 15px;
          color: #222222; }
      #main #wrapper .leftSection .LeftContent .postAuthorInfo .info {
        margin-left: 175px; }
        #main #wrapper .leftSection .LeftContent .postAuthorInfo .info .title {
          font-size: 18px;
          margin-top: 24px; }
        #main #wrapper .leftSection .LeftContent .postAuthorInfo .info .content {
          margin-top: 18px;
          color: #777;
          font-family: "Source Sans Pro",sans-serif;
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          word-wrap: break-word; }
        #main #wrapper .leftSection .LeftContent .postAuthorInfo .info .social {
          margin: 9px -8px 0;
          color: #999; }
          #main #wrapper .leftSection .LeftContent .postAuthorInfo .info .social li {
            margin: 6px; }
            #main #wrapper .leftSection .LeftContent .postAuthorInfo .info .social li a {
              color: #999999;
              transition-duration: 0.3s; }
    @media only screen and (max-width: 390px) {
      #main #wrapper .leftSection .LeftContent .postAuthorInfo {
        padding-right: 0px; }
        #main #wrapper .leftSection .LeftContent .postAuthorInfo .img {
          position: static !important;
          width: 100%;
          text-align: center; }
          #main #wrapper .leftSection .LeftContent .postAuthorInfo .img .box img {
            width: 100%; }
        #main #wrapper .leftSection .LeftContent .postAuthorInfo .info {
          float: left;
          margin-left: 0px;
          text-align: left; } }
    #main #wrapper .leftSection .LeftContent .postInfor {
      display: inline-flex;
      margin-top: 20px; }
      #main #wrapper .leftSection .LeftContent .postInfor .h4 {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700; }
      #main #wrapper .leftSection .LeftContent .postInfor .colorStyle {
        color: #999999;
        transition-duration: 0.3s;
        text-decoration: none; }
      #main #wrapper .leftSection .LeftContent .postInfor .rightPost {
        text-align: right; }
        #main #wrapper .leftSection .LeftContent .postInfor .rightPost .info {
          text-align: right; }
          #main #wrapper .leftSection .LeftContent .postInfor .rightPost .info .meta {
            width: 100%;
            text-align: right;
            display: block; }
            #main #wrapper .leftSection .LeftContent .postInfor .rightPost .info .meta li {
              display: inline-block; }
        #main #wrapper .leftSection .LeftContent .postInfor .rightPost .info::before {
          content: '';
          position: absolute;
          border-left: 2px solid #EEEEEE;
          left: 0;
          top: 0;
          right: 0;
          bottom: 34px;
          width: 2px;
          background-color: #eee;
          z-index: -1;
          height: 100%; }
      #main #wrapper .leftSection .LeftContent .postInfor .rightPost .btn-link, #main #wrapper .leftSection .LeftContent .postInfor .leftPost .btn-link {
        color: #222222;
        text-decoration-line: none;
        font-size: 14px;
        font-weight: 700;
        transition-duration: 0.3s; }
    #main #wrapper .leftSection .LeftContent .postRelated {
      padding: 0px;
      position: relative;
      padding-top: 30px; }
      #main #wrapper .leftSection .LeftContent .postRelated .postItemTitle {
        padding: 12px 57px 13px 0;
        border-top: 2px solid; }
        #main #wrapper .leftSection .LeftContent .postRelated .postItemTitle .h4 {
          position: relative;
          margin: 0;
          display: inline-block;
          font-size: 16px;
          line-height: 26px;
          font-weight: 600;
          text-transform: uppercase;
          z-index: 0; }
        #main #wrapper .leftSection .LeftContent .postRelated .postItemTitle .arrows {
          position: relative;
          line-height: 0px;
          height: 50px;
          color: #999;
          display: inline-block;
          position: absolute;
          right: 0; }
          #main #wrapper .leftSection .LeftContent .postRelated .postItemTitle .arrows .btnLink {
            transition-duration: 0.3s;
            text-decoration: none;
            color: #999999; }
      #main #wrapper .leftSection .LeftContent .postRelated .postItem img {
        width: 100%;
        opacity: 0.8 0.5;
        transition-duration: 0.4s; }
        #main #wrapper .leftSection .LeftContent .postRelated .postItem img:hover {
          filter: brightness(40%);
          opacity: 0.5; }
      #main #wrapper .leftSection .LeftContent .postRelated .postItem .cat {
        position: absolute;
        top: 15px;
        left: 28px;
        padding: 0 10px;
        color: #fff;
        font-size: 12px;
        line-height: 22px;
        text-transform: uppercase;
        z-index: 1;
        background: #2A2A2A;
        text-decoration: none;
        transition-duration: 0.3s; }
      #main #wrapper .leftSection .LeftContent .postRelated .postItem .icon {
        position: absolute;
        top: 15px;
        right: 28px;
        width: 36px;
        color: #fff;
        font-size: 16px;
        line-height: 36px;
        text-align: center;
        z-index: 1;
        transition-duration: 0.3s !important; }
        #main #wrapper .leftSection .LeftContent .postRelated .postItem .icon:hover {
          background: #1B1A1B !important; }
      #main #wrapper .leftSection .LeftContent .postRelated .postItem .postInfo {
        margin-bottom: 8px;
        position: absolute;
        left: 30px;
        right: 15px;
        bottom: 130px;
        color: #fff;
        z-index: 1;
        line-height: 5px; }
        #main #wrapper .leftSection .LeftContent .postRelated .postItem .postInfo .meta li a {
          margin: 9px 3px;
          line-height: 0;
          display: inline-block;
          font-size: 14px;
          color: white;
          text-decoration-line: none;
          transition-duration: 0.3s; }
        #main #wrapper .leftSection .LeftContent .postRelated .postItem .postInfo .title .h4 {
          margin-left: 4px;
          line-height: 15px;
          font-weight: 600;
          transition-duration: 0.3s; }
          #main #wrapper .leftSection .LeftContent .postRelated .postItem .postInfo .title .h4 a {
            text-decoration-line: none;
            color: white;
            font-size: 13px;
            font-weight: 600;
            transition-duration: 0.3s; }
      #main #wrapper .leftSection .LeftContent .postRelated .postItem .postContent {
        margin-top: 8px;
        font-size: 13px;
        line-height: 23px;
        color: #999999; }
      #main #wrapper .leftSection .LeftContent .postRelated .postItem .postReading a {
        color: #222;
        font-size: 13px;
        text-decoration: none;
        transition-duration: 0.3s; }
    #main #wrapper .leftSection .LeftContent .commentPost {
      position: relative;
      padding-top: 60px; }
      #main #wrapper .leftSection .LeftContent .commentPost .postItemTitle {
        padding: 12px 57px 13px 0;
        border-top: 2px solid; }
        #main #wrapper .leftSection .LeftContent .commentPost .postItemTitle .h4 {
          position: relative;
          margin: 0;
          font-size: 16px;
          line-height: 26px;
          font-weight: 600;
          text-transform: uppercase;
          z-index: 0; }
        #main #wrapper .leftSection .LeftContent .commentPost .postItemTitle .icon {
          color: #999999;
          font-size: 16px;
          line-height: 26px;
          position: absolute;
          top: 75px;
          right: 0px; }
      #main #wrapper .leftSection .LeftContent .commentPost .commentItem .commentImg img {
        max-width: 60px;
        margin-right: 20px;
        border: 2px solid #ccc;
        float: left; }
      #main #wrapper .leftSection .LeftContent .commentPost .commentItem .commentInfo {
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 16px 20px 3px;
        background-color: #f2f3f5;
        overflow: hidden; }
        #main #wrapper .leftSection .LeftContent .commentPost .commentItem .commentInfo .commentTitle {
          margin-bottom: 23px;
          color: #999;
          line-height: 18px; }
          #main #wrapper .leftSection .LeftContent .commentPost .commentItem .commentInfo .commentTitle .name {
            float: left;
            margin-bottom: 0;
            color: #222222;
            font-weight: 620;
            font-size: 13px; }
          #main #wrapper .leftSection .LeftContent .commentPost .commentItem .commentInfo .commentTitle .date {
            float: left;
            margin-left: 15px;
            margin-bottom: 0;
            padding-left: 14px;
            border-left: 1px solid #ccc; }
          #main #wrapper .leftSection .LeftContent .commentPost .commentItem .commentInfo .commentTitle .reply {
            float: right;
            display: block;
            color: #999999; }
        #main #wrapper .leftSection .LeftContent .commentPost .commentItem .commentInfo .commentContent p {
          margin: 0 0 10px;
          font-size: 13px;
          color: #999999;
          line-height: 25px; }
    #main #wrapper .leftSection .LeftContent .formPost {
      margin-top: 38px; }
      #main #wrapper .leftSection .LeftContent .formPost .postTitle {
        width: 100%;
        border-top: 2px solid; }
        #main #wrapper .leftSection .LeftContent .formPost .postTitle .h4 {
          position: relative;
          margin: 0;
          font-size: 16px;
          line-height: 40px;
          font-weight: 600;
          display: inline; }
        #main #wrapper .leftSection .LeftContent .formPost .postTitle .icon {
          float: right;
          line-height: 40px;
          color: #999999; }
      #main #wrapper .leftSection .LeftContent .formPost .box {
        margin-top: 5px;
        background: #F2F3F5;
        padding: 30px; }
        #main #wrapper .leftSection .LeftContent .formPost .box p {
          color: #222;
          font-weight: 600;
          font-size: 13px; }
        #main #wrapper .leftSection .LeftContent .formPost .box span {
          font-size: 13px;
          color: #9F778B; }
        #main #wrapper .leftSection .LeftContent .formPost .box .form-control {
          background: #F2F3F5;
          width: 100%;
          padding: .375rem 5.75rem; }
        #main #wrapper .leftSection .LeftContent .formPost .box .txtArea {
          min-height: 185px; }
        #main #wrapper .leftSection .LeftContent .formPost .box .btn {
          padding: 2px 15px;
          border-radius: 0;
          font-size: 14px;
          line-height: 24px;
          font-weight: 600;
          margin-top: 16px;
          transition-duration: 0.4s;
          color: white; }
          #main #wrapper .leftSection .LeftContent .formPost .box .btn:hover {
            background: #000000 !important; }
@media screen and (max-width: 991px) {
  #main #wrapper .rightSection {
    padding-left: 0px;
    padding-right: 0px; }
  #main #wrapper .leftSection {
    padding: 0px; } }
#main #wrapper .rightSection {
  width: 100%; }
  #main #wrapper .rightSection .contentRight .widget .adWidget {
    background: #F8F8F8;
    width: 100%;
    height: 45px; }
  #main #wrapper .rightSection .contentRight .sosialLIfe {
    width: 100%;
    margin-top: 60px; }
    #main #wrapper .rightSection .contentRight .sosialLIfe .title {
      position: relative;
      padding: 12px 24px 13px 0;
      border-top: 2px solid; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .title .h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .title .icon {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -13px;
        color: #999;
        font-size: 16px;
        line-height: 26px; }
    #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent {
      padding: 5px 0;
      background-color: #f8f8f8;
      line-height: 0; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box {
        width: 33.3333%; }
        #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box a {
          text-decoration-line: none;
          position: relative;
          padding: 15px 15px 8px;
          font-weight: 600;
          text-align: center;
          display: grid; }
          #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box a .icon {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            border: 1px solid;
            border-radius: 50%;
            font-size: 24px;
            line-height: 48px;
            transition-duration: 0.4s; }
          #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box a .scount {
            margin-top: 6px;
            color: #222;
            line-height: 28px;
            color: black; }
          #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box a .stitle {
            color: #999;
            font-size: 14px;
            line-height: 24px; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .facebook a .icon {
        border: 1px solid #3B599B;
        color: #3B599B; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .facebook:hover .icon {
        background: #3B599B;
        color: white; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .twitter a .icon {
        border: 1px solid #00ACED;
        color: #00ACED; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .twitter:hover .icon {
        background: #00ACED;
        color: white; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .google a .icon {
        border: 1px solid #D34836;
        color: #D34836; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .google:hover .icon {
        background: #D34836;
        color: white; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .rss a .icon {
        border: 1px solid #FF6600;
        color: #FF6600; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .rss:hover .icon {
        background: #FF6600;
        color: white; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .vimeo a .icon {
        border: 1px solid #4EBBFF;
        color: #4EBBFF; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .vimeo:hover .icon {
        background: #4EBBFF;
        color: white; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .youtube a .icon {
        border: 1px solid #BB0000;
        color: #BB0000; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .youtube:hover .icon {
        background: #BB0000;
        color: white; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box a:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        max-height: 50px;
        border-right: 1px solid #eee; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box:nth-child(1) > a:before,
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box:nth-child(2) > a:before,
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box:nth-child(3) > a:before {
        top: auto;
        bottom: 0; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box a:after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        border-bottom: 1px solid #eee; }
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box:nth-child(4) > a:after,
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box:nth-child(5) > a:after,
      #main #wrapper .rightSection .contentRight .sosialLIfe .socialsContent .box:nth-child(6) > a:after {
        border-bottom: none; }
  #main #wrapper .rightSection .contentRight .emailPost {
    margin-top: 60px; }
    #main #wrapper .rightSection .contentRight .emailPost .postTitle {
      position: relative;
      padding: 12px 24px 13px 0;
      border-top: 2px solid; }
      #main #wrapper .rightSection .contentRight .emailPost .postTitle .h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600; }
      #main #wrapper .rightSection .contentRight .emailPost .postTitle .icon {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -13px;
        color: #999;
        font-size: 16px;
        line-height: 26px; }
    #main #wrapper .rightSection .contentRight .emailPost .emailContent {
      padding: 30px 20px;
      background: #F8F8F8; }
      #main #wrapper .rightSection .contentRight .emailPost .emailContent .content {
        font-size: 13px; }
      #main #wrapper .rightSection .contentRight .emailPost .emailContent .row {
        padding: 0 14px; }
      #main #wrapper .rightSection .contentRight .emailPost .emailContent .inputt {
        height: 40px;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #eee;
        border: none;
        float: left;
        outline: none;
        margin-bottom: 0; }
      #main #wrapper .rightSection .contentRight .emailPost .emailContent .btnn {
        min-width: 50px;
        padding: 6px 16px;
        border-radius: 0px;
        color: white;
        outline: none;
        border: none; }
  #main #wrapper .rightSection .contentRight .featuredPost {
    margin-top: 60px; }
    #main #wrapper .rightSection .contentRight .featuredPost .postTitle {
      position: relative;
      padding: 12px 24px 13px 0;
      border-top: 2px solid; }
      #main #wrapper .rightSection .contentRight .featuredPost .postTitle .h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600; }
      #main #wrapper .rightSection .contentRight .featuredPost .postTitle .icon {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -13px;
        color: #999;
        font-size: 16px;
        line-height: 26px; }
    #main #wrapper .rightSection .contentRight .featuredPost .featuredContent {
      background: #F8F8F8; }
      #main #wrapper .rightSection .contentRight .featuredPost .featuredContent .list {
        padding: 20px 20px 15px;
        color: #999; }
        #main #wrapper .rightSection .contentRight .featuredPost .featuredContent .list .box {
          width: 100%; }
          #main #wrapper .rightSection .contentRight .featuredPost .featuredContent .list .box li {
            border: 1px solid #eee;
            height: auto; }
            #main #wrapper .rightSection .contentRight .featuredPost .featuredContent .list .box li .link {
              padding: 0 15px;
              line-height: 18px;
              color: inherit;
              font-size: 13px;
              text-decoration-line: none; }
        @media screen and (max-width: 767px) {
          #main #wrapper .rightSection .contentRight .featuredPost .featuredContent .list .box {
            display: block; }
            #main #wrapper .rightSection .contentRight .featuredPost .featuredContent .list .box li {
              padding: 6px 0;
              text-align: center; } }
    #main #wrapper .rightSection .contentRight .featuredPost .postItems {
      background: #F8F8F8; }
      #main #wrapper .rightSection .contentRight .featuredPost .postItems .bord li {
        padding-left: 20px;
        padding-right: 20px; }
        #main #wrapper .rightSection .contentRight .featuredPost .postItems .bord li .postImg {
          border-top: 1px solid #eee;
          padding-top: 15px;
          padding-bottom: 25px; }
          #main #wrapper .rightSection .contentRight .featuredPost .postItems .bord li .postImg img {
            float: left;
            width: 100px;
            margin-right: 20px; }
          #main #wrapper .rightSection .contentRight .featuredPost .postItems .bord li .postImg .postInfo {
            overflow: hidden; }
            #main #wrapper .rightSection .contentRight .featuredPost .postItems .bord li .postImg .postInfo .meta {
              margin: 0 -7.5px; }
              #main #wrapper .rightSection .contentRight .featuredPost .postItems .bord li .postImg .postInfo .meta li {
                display: inline-block;
                margin: 0 7.5px;
                font-size: 13px;
                padding: 0px; }
                #main #wrapper .rightSection .contentRight .featuredPost .postItems .bord li .postImg .postInfo .meta li a {
                  padding: 0;
                  font-size: 14px;
                  color: #999;
                  text-decoration-line: none;
                  transition-duration: 0.3s; }
            #main #wrapper .rightSection .contentRight .featuredPost .postItems .bord li .postImg .postInfo .title .h4 {
              line-height: 16px; }
              #main #wrapper .rightSection .contentRight .featuredPost .postItems .bord li .postImg .postInfo .title .h4 .btn-link {
                color: #222;
                margin: 0;
                font-size: 14px;
                font-weight: 700;
                line-height: 0px !important;
                text-decoration-line: none;
                transition-duration: 0.3s; }
  #main #wrapper .rightSection .contentRight .advertisementPost {
    margin-top: 60px; }
    #main #wrapper .rightSection .contentRight .advertisementPost .postTitle {
      position: relative;
      padding: 12px 24px 13px 0;
      border-top: 2px solid; }
      #main #wrapper .rightSection .contentRight .advertisementPost .postTitle .h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600; }
      #main #wrapper .rightSection .contentRight .advertisementPost .postTitle .icon {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -13px;
        color: #999;
        font-size: 16px;
        line-height: 26px; }
    #main #wrapper .rightSection .contentRight .advertisementPost .addContent {
      padding: 30px 30px 15px;
      background-color: #f8f8f8; }
  #main #wrapper .rightSection .contentRight .postStatic {
    margin-top: 60px; }
    #main #wrapper .rightSection .contentRight .postStatic .postTitle {
      position: relative;
      padding: 12px 24px 13px 0;
      border-top: 2px solid; }
      #main #wrapper .rightSection .contentRight .postStatic .postTitle .h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600; }
      #main #wrapper .rightSection .contentRight .postStatic .postTitle .pageBtn {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -13px;
        color: #999;
        font-size: 16px;
        line-height: 26px; }
        #main #wrapper .rightSection .contentRight .postStatic .postTitle .pageBtn a {
          color: #999;
          transition-duration: 0.3s; }
    #main #wrapper .rightSection .contentRight .postStatic .postContent {
      padding: 14px 20px 20px;
      background: #F8F8F8; }
      #main #wrapper .rightSection .contentRight .postStatic .postContent .box {
        border-top: 1px solid #F1F1F1;
        padding-top: 14px; }
        #main #wrapper .rightSection .contentRight .postStatic .postContent .box .activv {
          display: block;
          font-size: 13px;
          padding-bottom: 15px; }
          #main #wrapper .rightSection .contentRight .postStatic .postContent .box .activv .input {
            margin-right: 8px; }
        #main #wrapper .rightSection .contentRight .postStatic .postContent .box .btn {
          margin-top: 13px;
          padding: 2px 15px;
          border-radius: 0;
          font-size: 14px;
          line-height: 24px;
          font-weight: 600;
          color: white;
          transition-duration: 0.3s; }
          #main #wrapper .rightSection .contentRight .postStatic .postContent .box .btn:hover {
            background: black !important; }
      #main #wrapper .rightSection .contentRight .postStatic .postContent .indicator {
        display: flex;
        font-size: 12px;
        padding-bottom: 27px; }
        #main #wrapper .rightSection .contentRight .postStatic .postContent .indicator #progress {
          margin-right: 4px;
          height: 13px;
          width: 100%;
          background-color: #F8F8F8;
          border: 0.5px solid #CCCCCC; }
          #main #wrapper .rightSection .contentRight .postStatic .postContent .indicator #progress #bar {
            width: 65%;
            height: 12px; }
        #main #wrapper .rightSection .contentRight .postStatic .postContent .indicator #progress2 {
          margin-right: 4px;
          height: 13px;
          width: 100%;
          background-color: #F8F8F8;
          border: 0.5px solid #CCCCCC; }
          #main #wrapper .rightSection .contentRight .postStatic .postContent .indicator #progress2 #bar2 {
            width: 28%;
            height: 12px; }
        #main #wrapper .rightSection .contentRight .postStatic .postContent .indicator #progress3 {
          margin-right: 4px;
          height: 13px;
          width: 100%;
          background-color: #F8F8F8;
          border: 0.5px solid #CCCCCC; }
          #main #wrapper .rightSection .contentRight .postStatic .postContent .indicator #progress3 #bar3 {
            width: 07%;
            height: 12px; }
        #main #wrapper .rightSection .contentRight .postStatic .postContent .indicator span {
          margin-top: -3px; }
  #main #wrapper .rightSection .contentRight .postImage {
    margin-top: 60px;
    background: #F8F8F8; }
    #main #wrapper .rightSection .contentRight .postImage .imgContent {
      padding: 20px 20px 15px;
      background-color: #f8f8f8;
      text-align: center; }
      #main #wrapper .rightSection .contentRight .postImage .imgContent img {
        max-width: 100%;
        height: auto; }
      #main #wrapper .rightSection .contentRight .postImage .imgContent .leftSide,
      #main #wrapper .rightSection .contentRight .postImage .imgContent .rightSide {
        padding-bottom: 5px; }
  #main #wrapper .rightSection .contentRight .readersOpinion {
    margin-top: 60px; }
    #main #wrapper .rightSection .contentRight .readersOpinion .postTitle {
      position: relative;
      padding: 12px 24px 13px 0;
      border-top: 2px solid; }
      #main #wrapper .rightSection .contentRight .readersOpinion .postTitle .h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600; }
      #main #wrapper .rightSection .contentRight .readersOpinion .postTitle .postControl {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -13px;
        color: #999; }
        #main #wrapper .rightSection .contentRight .readersOpinion .postTitle .postControl a {
          color: #999;
          transition-duration: 0.3s; }
    #main #wrapper .rightSection .contentRight .readersOpinion .readerContent {
      background: #F8F8F8; }
      #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox {
        border-top: 1px solid #eee;
        padding-top: 15px;
        padding-bottom: 15px; }
        #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox li {
          padding-left: 20px;
          padding-right: 20px; }
        #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox .postImg .imageBox {
          float: left;
          margin-right: 17px; }
          #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox .postImg .imageBox img {
            max-width: 100%;
            height: auto; }
        #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox .postImg .postInfo {
          overflow: hidden; }
          #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox .postImg .postInfo .title {
            display: flex;
            flex-wrap: nowrap; }
            #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox .postImg .postInfo .title .h4 {
              font-size: 14px;
              line-height: 20px;
              font-weight: 600;
              color: #222222;
              width: 100%; }
          #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox .postImg .postInfo .meta {
            margin-top: -7px; }
            #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox .postImg .postInfo .meta li {
              padding: 0; }
              #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox .postImg .postInfo .meta li span {
                display: inline-block;
                font-size: 13px;
                padding-right: 16px;
                color: #999999; }
      #main #wrapper .rightSection .contentRight .readersOpinion .readerContent .contentBox:nth-child(1) {
        border: none; }
  #main #wrapper .rightSection .contentRight .readersOpinion2 {
    margin-top: 60px; }
    #main #wrapper .rightSection .contentRight .readersOpinion2 .postTitle {
      position: relative;
      padding: 12px 24px 13px 0;
      border-top: 2px solid; }
      #main #wrapper .rightSection .contentRight .readersOpinion2 .postTitle .h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600; }
      #main #wrapper .rightSection .contentRight .readersOpinion2 .postTitle .postControl {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -13px;
        color: #999; }
        #main #wrapper .rightSection .contentRight .readersOpinion2 .postTitle .postControl a {
          color: #999;
          transition-duration: 0.3s; }
    #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent {
      background: #F8F8F8; }
      #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox {
        border-top: 1px solid #eee;
        padding-top: 15px;
        padding-bottom: 15px; }
        #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox li {
          padding-left: 20px;
          padding-right: 20px; }
        #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox .postImg .imageBox {
          float: left;
          border: 2px solid #999999;
          border-radius: 50%;
          margin-right: 17px; }
          #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox .postImg .imageBox img {
            max-width: 100%;
            height: auto; }
        #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox .postImg .postInfo {
          overflow: hidden; }
          #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox .postImg .postInfo .title {
            display: flex;
            flex-wrap: nowrap; }
            #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox .postImg .postInfo .title .h4::before {
              content: "\f10d";
              margin-left: 1px;
              margin-right: 9px;
              color: #999;
              font-family: "FontAwesome";
              font-size: 13px; }
            #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox .postImg .postInfo .title .h4 {
              font-size: 14px;
              line-height: 20px;
              font-weight: 600;
              color: #222222; }
          #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox .postImg .postInfo .meta {
            margin-top: -7px; }
            #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox .postImg .postInfo .meta li {
              padding: 0; }
              #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox .postImg .postInfo .meta li span {
                display: inline-block;
                font-size: 13px;
                padding-right: 16px;
                color: #999999; }
      #main #wrapper .rightSection .contentRight .readersOpinion2 .readerContent .contentBox:nth-child(1) {
        border: none; }

.mainColorStyle {
  transition-duration: 0.7s;
  left: -251px;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 20px;
  background: white;
  width: 251px;
  height: 137px;
  z-index: 99999;
  position: fixed;
  top: 186px;
  border: 1px solid #e9e9e9;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 9px 46px 0px, rgba(0, 0, 0, 0.12) 0px 11px 15px 0px, rgba(0, 0, 0, 0.2) 0px 24px 38px 0px; }
  .mainColorStyle .colorContent {
    position: relative;
    padding-top: 10px; }
    .mainColorStyle .colorContent .colorControl {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin: 4px; }
    .mainColorStyle .colorContent .control1 {
      cursor: pointer;
      background: #DA0000; }
    .mainColorStyle .colorContent .control2 {
      cursor: pointer;
      background: #119EE6; }
    .mainColorStyle .colorContent .control3 {
      cursor: pointer;
      background: #179EA8; }
    .mainColorStyle .colorContent .control4 {
      cursor: pointer;
      background: #82B440; }
    .mainColorStyle .colorContent .control5 {
      cursor: pointer;
      background: #F69323; }
    .mainColorStyle .colorContent .control6 {
      cursor: pointer;
      background: #FC5143; }
    .mainColorStyle .colorContent .control7 {
      cursor: pointer;
      background: #D48B91; }
    .mainColorStyle .colorContent .control8 {
      cursor: pointer;
      background: #8CBEB2; }
    .mainColorStyle .colorContent .control9 {
      cursor: pointer;
      background: #00B249; }
    .mainColorStyle .colorContent .control10 {
      cursor: pointer;
      background: #924CF3; }
  .mainColorStyle .colorControlBtn {
    position: absolute;
    right: -51px;
    top: 0px; }
    .mainColorStyle .colorControlBtn .colorChange {
      cursor: pointer;
      width: 50px;
      height: 50px;
      border: none;
      outline: none;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.14) 10px 5px 46px 8px, rgba(0, 0, 0, 0.2) 10px 0px 26px -6px; }

footer {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 60px;
  width: 100%;
  background: #1D1D1D; }
  footer .footerContainer {
    padding: 0px;
    margin-top: 15px; }
    footer .footerContainer .topMargin {
      padding-top: 60px;
      transition-duration: 0.4s; }
    footer .footerContainer .box {
      border-top: 2px solid white; }
      footer .footerContainer .box .title {
        position: relative;
        padding: 12px 24px 13px 0; }
        footer .footerContainer .box .title .h4 {
          position: relative;
          margin: 0;
          font-size: 16px;
          line-height: 26px;
          font-weight: 600;
          color: white; }
        footer .footerContainer .box .title .icon {
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -13px;
          color: #999;
          font-size: 16px;
          line-height: 26px; }
      footer .footerContainer .box .about .content {
        color: #777;
        font-size: 13px;
        line-height: 26px; }
      footer .footerContainer .box .about .action {
        border-bottom: 1px solid #333333;
        margin-top: 16px;
        padding-bottom: 11px; }
        footer .footerContainer .box .about .action a {
          color: #777;
          font-size: 14px;
          text-decoration: none;
          transition-duration: 0.3s; }
      footer .footerContainer .box .about .sosialBox {
        margin-top: 8px;
        padding-top: 11px; }
        footer .footerContainer .box .about .sosialBox li {
          margin-top: 10px;
          width: 100%; }
          footer .footerContainer .box .about .sosialBox li a {
            transition-duration: 0.3s; }
        footer .footerContainer .box .about .sosialBox .sosial {
          color: white;
          margin-right: 8px; }
        footer .footerContainer .box .about .sosialBox span {
          color: #777;
          font-size: 13px; }
        footer .footerContainer .box .about .sosialBox a {
          color: #777;
          font-size: 14px;
          text-decoration: none; }
    footer .footerContainer .box2 ul {
      padding: 0px; }
      footer .footerContainer .box2 ul li {
        color: #777;
        width: 100%;
        margin-top: 14px;
        border-bottom: 1px solid #333333;
        padding-bottom: 5px;
        font-size: 14px;
        cursor: pointer;
        transition-duration: 0.3s; }
        footer .footerContainer .box2 ul li span {
          margin-left: 5px;
          font-size: 14px; }

.usNewsPowered {
  padding: 0 5px;
  width: 100%;
  min-height: 80px;
  background: black; }
  .usNewsPowered .contMax {
    position: relative; }
  .usNewsPowered .leftSide {
    padding: 40px 0;
    margin: 0px;
    font-size: 16px; }
    .usNewsPowered .leftSide span {
      color: #777777; }
      .usNewsPowered .leftSide span a {
        font-size: 14px;
        text-decoration: none; }
  .usNewsPowered .rightSide {
    display: flex;
    position: absolute;
    right: 0;
    padding: 40px 0;
    font-size: 16px; }
    .usNewsPowered .rightSide ul {
      margin-left: 20px; }
      .usNewsPowered .rightSide ul li {
        margin: 0 8px; }
        .usNewsPowered .rightSide ul li a {
          color: #777777;
          text-decoration: none;
          transition-duration: 0.3s; }
        .usNewsPowered .rightSide ul li .footerSosial {
          color: white;
          transition-duration: 0.3s; }
          .usNewsPowered .rightSide ul li .footerSosial:hover {
            color: #777777; }

@media screen and (max-width: 768px) {
  .usNewsPowered .contMax {
    margin: 0px;
    max-width: 100%; } }
@media screen and (max-width: 633px) {
  .usNewsPowered {
    text-align: center;
    padding-top: 5px; }
    .usNewsPowered .leftSide,
    .usNewsPowered .rightSide {
      margin: 0 auto;
      position: static;
      padding: 3px 0;
      display: inline-block; } }
@media screen and (max-width: 768px) {
  .footerContainer {
    margin: 0px !important;
    max-width: 100%; } }

/*# sourceMappingURL=style.css.map */
